@model Product
<head>
    <link rel="stylesheet" href="~/css/style_products.css">
</head>
<h2>@Model.Name</h2>

<div class="thumbnail section-box">
    @*<img alt="@Model.Name" src="@Model.ImageUrl">*@
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <div>
            <a class="button" asp-controller="Order" asp-action="AddToOrder"
               asp-route-ProductId="@Model.ProductId">Order</a>
        </div>
    </div>
</div>