@model Product
<head>
    <link href="~/css/style_products.css" rel="stylesheet" />
</head>
@*<h2>@Model.Name</h2>*@

<div class="thumbnail section-box">

    <h3><a href="#">@Model.Name</a></h3>
    <div class="image">
        <img alt="@Model.Name" class="align-content-center" src="@Url.Content(@Model.ImageUrl)">
    </div>

    <div class="description">
        <h5 class="justify-content-around">@Model.ProductDescription</h5>
    </div>


    <div class="caption-full">
        <h4 class="center">Price: @Model.Price kn</h4>

        <div>
            <a class="button" asp-controller="Order" asp-action="AddToOrder"
               asp-route-ProductId="@Model.ProductId">Add to order</a>
        </div>
        <div>
            <a class="button" asp-controller="Order" asp-action="RemoveFromOrder"
               asp-route-ProductId="@Model.ProductId">Remove from order</a>
        </div>
    </div>
</div>