@model ShopViewModel;
<head>
    <link href="~/css/style_products.css" rel="stylesheet" />
</head>

<body>
    <section id="fullpage">
        <div class="grid-container">
            @foreach ( var p in Model.Product )
            {
                @*<div class="grid-container">*@
                <div class="prod">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@p.ProductId">@p.Name</a>
                    <img alt="@p.Name" src="@Url.Content(@p.ImageUrl)" />
                  
                </div>
            }
            <a id="back2Top" href="#"><i class="fas fa-arrow-circle-up"></i></a>
        </div>
    </section>
    <script src="~/js/app.js"></script>
</body>